.config/bash/
.config/htop/
.config/nvim/plugged
.config/procps/
.config/pulse/
.config/filezilla/
.config/fish/functions/*fisher*
.config/fish/functions/*tide*
.config/.config/gdb/python/libstdcxx

*.nfs*
*.tmp*
*.log*
